body{
    background-color: lightgreen;
}
a{
  text-transform: uppercase;
}
a{
  font-family: "PT Sans Narrow", Times, Serif;
}
.nav-link{
    font-weight: lighter;
}
.nav-link:hover{
    font-weight: bolder;
    background-color: #eee;
}
header{
    height:600px;
    width:100%;
    background-image: url("background.jpg");
    background-size:cover;
    text-align: center;
    font-family:'Raleway', sans-serif;
}
.aboutus {
    text-align: center;
}
.aboutus i{
    font-size:30px;
    padding: 25px 20px;
    
    /*change the color*/
    color:#fff;
    background-color: #5cb85c;
    
    /*resize container of icon*/
    width: 80px;
    height: 80px;
    
    /*make the container round*/
    border-radius: 50%;
}

.aboutus span{
    width:200px;
    display: inline-block;
}
/*team*/
.team{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.team img{
    width: 250px;
    height: 250px;
    /*Object fit will crop and center image based on width and height*/
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}
h1{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Raleway', sans-serif;
}
header p{
    font-style: italic;
}
.options{
    background-color: #fff;
}

/*Get Involved*/
.getinvolved {
    background-color: #5cb85c;
    text-align: center;
    /*adds padding on top and bottom*/
    padding:50px 0 80px;
    margin-top:50px;
    width: 100%;
}
.getinvolved h2{
    color: #fff;
}
.options{
    padding: 30px;
    margin:10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}
.getinvolved i{
    width: 50px;
    height: 50px;
    font-size: 40px;
}
.contact .btn {
    border-radius:0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}
.footercontainer {
    text-indent: 20px;
    text-align: left;
    background-color: black;
    color: white;
}
.footertwo {
    text-indent: 20px;
    text-align: left;
    background-color: black;
    color: white;
}

